<div [class]="showModal ? 'fijar':''" >
  <header>
    <h1>{{title}}</h1>
    <app-new-budget 
      (budgetIsValid)="getBudgetIsValid($event)"
      [spents]="spents"
      (setResetApp)="getResetApp($event)"
    ></app-new-budget>
  </header>
  
  <div class="nuevo-gasto" *ngIf="budgetValid">
    <img 
        src="../assets/img/nuevo-gasto.svg" 
        alt="icono nuevo gasto"
        (click)="handleNewSpent()"
    >
  </div>
  
  <app-modal 
    *ngIf="showModal" 
    (closeModal)="getShowModal($event)"
    (sendSpent)="getSpent($event)"
    [editEspent]="spentEdit"
    [edit]="edit"
  ></app-modal>
  

  <app-list-spents
    *ngIf="budgetValid && !showModal"
    [spents]="spents"
    (sendEditSpent)="getEditSpent($event)"
    (sendDeleteSpent)="getDeleteSpent($event)"
  ></app-list-spents>

</div>

